<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Kitoblar</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet" />
    <link
      href="{% static 'css/templatemo-ebook-landing.css' %}"
      rel="stylesheet"
    />
    
  </head>

  <body>
    <main>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <i class="navbar-brand-icon bi-book me-2"></i>
            <span>Kitoblar</span>
          </a>

          <div class="d-lg-none ms-auto me-3">
            <a
              href="#"
              class="btn custom-btn custom-border-btn btn-naira btn-inverted"
            >
              <i class="btn-icon bi-cloud-download"></i>
              <span>Yuklab olish</span
              ><!-- duplicated another one below for mobile -->
            </a>
          </div>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-auto me-lg-4">
              <li class="nav-item">
                <a class="nav-link click-scroll" href="#section_1">Kirish</a>
              </li>

              <li class="nav-item">
                <a class="nav-link click-scroll" href="#section_2"
                  >Biz haqimizda</a
                >
              </li>

              <li class="nav-item">
                <a class="nav-link click-scroll" href="#section_3"
                  >Asoschilar</a
                >
              </li>

              <li class="nav-item">
                <a class="nav-link click-scroll" href="#section_4">Top</a>
              </li>

              <li class="nav-item">
                <a class="nav-link click-scroll" href="#section_5"
                  >Bog'lanish</a
                >
              </li>
            </ul>

            <div class="d-none d-lg-block">
              <a
                href="#"
                class="btn custom-btn custom-border-btn btn-naira btn-inverted"
              >
                <i class="btn-icon bi-cloud-download"></i>
                <span>Download</span
                ><!-- duplicated above one for mobile -->
              </a>
            </div>
          </div>
        </div>
      </nav>

      <section
        class="hero-section d-flex justify-content-center align-items-center"
        id="section_1"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-12 mb-5 pb-5 pb-lg-0 mb-lg-0">
              <h6>ebook</h6>

              <h1 class="text-white mb-4">Biz bilan tez va oson.</h1>

              <a href="#section_2" class="btn custom-btn smoothscroll me-3"
                >Biz haqimizda</a
              >

              <a href="#section_3" class="link link--kale smoothscroll"
                >Muallif haqida</a
              >
            </div>

            <div class="hero-image-wrap col-lg-6 col-12 mt-3 mt-lg-0">
              <img
                src="{% static 'images/education-online-books.png' %}"
                class="hero-image img-fluid"
                alt="education online books"
              />
            </div>
          </div>
        </div>
      </section>

      <section class="featured-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-12">
              <div class="avatar-group d-flex flex-wrap align-items-center">
                <img
                  src="{% static 'images/avatar/portrait-beautiful-young-woman-standing-grey-wall.jpg' %}"
                  class="img-fluid avatar-image"
                  alt=""
                />

                <img
                  src="{% static 'images/avatar/portrait-young-redhead-bearded-male.jpg' %}"
                  class="img-fluid avatar-image avatar-image-left"
                  alt=""
                />

                <img
                  src="{% static 'images/avatar/pretty-blonde-woman.jpg' %}"
                  class="img-fluid avatar-image avatar-image-left"
                  alt=""
                />

                <img
                  src="{% static 'images/avatar/studio-portrait-emotional-happy-funny-smiling-boyfriend.jpg' %}"
                  class="img-fluid avatar-image avatar-image-left"
                  alt=""
                />

                <div class="reviews-group mt-3 mt-lg-0">
                  <strong>4.5</strong>

                  <i class="bi-star-fill"></i>
                  <i class="bi-star-fill"></i>
                  <i class="bi-star-fill"></i>
                  <i class="bi-star-fill"></i>
                  <i class="bi-star"></i>

                  <small class="ms-3">2,564 reviews</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-lg-5"></section>

      <section class="book-section section-padding" id="section_2">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-12">
              <img
                src="{% static 'images/tablet-screen-contents.jpg' %}"
                class="img-fluid"
                alt=""
              />
            </div>

            <div class="col-lg-6 col-12">
              <div class="book-section-info">
                <h6>Izla &amp; Top &amp; Yuklab ol</h6>

                <h2 class="mb-4">Biz haqimizda</h2>

                <p>
                  Biz sizga xohlagan kitobingizning elektron shaklini
                  topishingizda yordam beramiz
                </p>

                <p>Biz bilan bog'laning. Va kitobingizni yuklab oling.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-12 text-center">
              <h6>Yo'riqnoma</h6>

              <h2 class="mb-5">Foydalanish haqida</h2>
            </div>

            <div class="col-lg-4 col-12">
              <nav
                id="navbar-example3"
                class="h-100 flex-column align-items-stretch"
              >
                <nav class="nav nav-pills flex-column">
                  <a class="nav-link smoothscroll" href="#item-1">1</a>

                  <a class="nav-link smoothscroll" href="#item-2"
                    >2</strong></a
                  >

                  <a class="nav-link smoothscroll" href="#item-3"
                    >3</strong></a
                  >

                </nav>
              </nav>
            </div>

            <div class="col-lg-8 col-12">
              <div
                data-bs-spy="scroll"
                data-bs-target="#navbar-example3"
                data-bs-smooth-scroll="true"
                class="scrollspy-example-2"
                tabindex="0"
              >
                <div class="scrollspy-example-item" id="item-1">
                  <h5>1 - bosqich</h5>

                  <p>
                    Kitoblar.uz saytiga kiring.
                  </p>



                </div>

                <div class="scrollspy-example-item" id="item-2">
                  <h5>2</h5>

                  <p>
                    Xohlagan kitobingizni izlang.
                  </p>

                 

                  <div class="row">
                    <div class="col-lg-6 col-12 mb-3">
                      <img
                        src="{% static 'images/portrait-mature-smiling-authoress-sitting-desk.jpg' %}"
                        class="scrollspy-example-item-image img-fluid"
                        alt=""
                      />
                    </div>

                    <div class="col-lg-6 col-12 mb-3">
                      <img
                        src="{% static 'images/businessman-sitting-by-table-cafe.jpg' %}"
                        class="scrollspy-example-item-image img-fluid"
                        alt=""
                      />
                    </div>
                  </div>

                </div>

                <div class="scrollspy-example-item" id="item-3">
                  <h5>3</h5>

                  
                  <p>
                    Va yuklab oling.
                  </p>

                
                  

                    
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="author-section section-padding" id="section_3">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-12">
              <img
                src="{% static 'images/portrait-mature-smiling-authoress-sitting-desk.jpg' %}"
                class="author-image img-fluid"
                alt=""
              />
            </div>

            <div class="col-lg-6 col-12 mt-5 mt-lg-0">
              <h6>Muallif</h6>

              <h2 class="mb-4">Prof. Sophia</h2>

              <p>
                Bu loyihani insonlarga o'zlari xohlagan kitoblarini oson topishlarida qulaylik yaratish maqsadida tuzdik.
              </p>

           
            </div>
          </div>
        </div>
      </section>

      <section class="reviews-section section-padding" id="section_4">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-12 text-center mb-5">
              <h6>Top</h6>

              <h2>Eng ko'p yuklab olingan kitoblar</h2>
            </div>
            {% for book in books %}
            <div class="col-lg-4 col-12">
              <div class="custom-block d-flex flex-wrap">
                <div class="custom-block-image-wrap d-flex flex-column">
                  <img
                    src="{{book.img.url}}"
                    class="img-fluid avatar-image"
                    alt=""
                  />

                  <div class="text-center mt-3">
                    <span class="text-white">{{book.name}}</span>

                    
                  </div>
                </div>

                <div class="custom-block-info">
                  <div class="reviews-group mb-3">
                    <strong>4.5</strong>

                    <i class="bi-star-fill"></i>
                    <i class="bi-star-fill"></i>
                    <i class="bi-star-fill"></i>
                    <i class="bi-star-fill"></i>
                    <i class="bi-star"></i>
                  </div>

                  <p class="mb-0">
                    {{book.quote}}
                  </p>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </section>

      <section class="contact-section section-padding" id="section_5">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-12 mx-auto">
              <form
                class="custom-form ebook-download-form bg-white shadow"
                method="POST"
                role="form"
                action="{% url 'index' %}"
              >
              {% csrf_token %}
                <div class="text-center mb-5">
                  <h2 class="mb-1">Fikrlaringizni yozib qoldiring</h2>
                </div>

                <div class="ebook-download-form-body">
                  <div class="input-group mb-4">
                    <input
                      type="text"
                      name="name"
                      id="ebook-form-name"
                      class="form-control"
                      aria-label="ebook-form-name"
                      aria-describedby="basic-addon1"
                      placeholder="Your Name"
                      required
                    />

                    <span class="input-group-text" id="basic-addon1">
                      <i class="custom-form-icon bi-person"></i>
                    </span>
                  </div>

                  <div class="input-group mb-4">
                    <input
                      type="email"
                      name="email"
                      id="ebook-email"
                      pattern="[^ @]*@[^ @]*"
                      class="form-control"
                      placeholder="your@company.com"
                      aria-label="ebook-form-email"
                      aria-describedby="basic-addon2"
                      required=""
                    />

                    <span class="input-group-text" id="basic-addon2">
                      <i class="custom-form-icon bi-envelope"></i>
                    </span>
                  </div>

                  <div class="input-group mb-4">
                    <input
                      type="text"
                      name="message"
                      id="ebook-form-name"
                      class="form-control"
                      aria-label="ebook-form-name"
                      aria-describedby="basic-addon1"
                      placeholder="Message"
                      required
                    />

                    <span class="input-group-text" id="basic-addon1">
                      <i class="custom-form-icon bi-person"></i>
                    </span>
                  </div>

                  <div class="col-lg-8 col-md-10 col-8 mx-auto">
                    <button type="submit" class="form-control">
                        Yuborish
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <div class="col-lg-6 col-12">
              

              
            


              <ul class="social-icon mb-4">
                <li class="social-icon-item">
                  <a href="#" class="social-icon-link bi-instagram"></a>
                </li>

                <li class="social-icon-item">
                  <a href="#" class="social-icon-link bi-twitter"></a>
                </li>

                <li class="social-icon-item">
                  <a href="#" class="social-icon-link bi-facebook"></a>
                </li>

                <li class="social-icon-item">
                  <a href="#" class="social-icon-link bi-whatsapp"></a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/click-scroll.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
